/*
Regla CSS
selector {
  propiedades de valor;
  }
  */

*{
  padding:0px;
margin:0px;
}


.body{
  background-image: url("../img/bg_3229.png");
  
}


.header{
 width: 76.5%;
margin: auto;
background-color: rgba(255, 255, 255, 0.493);
}

.titulo{
margin: auto;
text-align: left;
width: 75%;
background-color: rgba(255, 255, 255, 0.493);
padding: 10px;
font-family: 'Franklin Gothic Medium',Arial , Arial Narrow , sans-serif;
}








h1, h3{ font-family: 'Franklin Gothic Medium',Arial , Arial Narrow , sans-serif;}
.contenido{
width: 75%;
margin: auto;
background-color: rgba(255, 255, 255, 0.493);
padding: 10px;
}

img{ width: 100%;}

.imagenes{
width: 35%;
padding: 7%;
border-radius:80%;
margin: auto;
margin-top:-6%;
}


.descripcion{
width: 50%;
margin-left: auto;
float: right;
margin-top:5%;
font-family: 'Franklin Gothic Medium',Arial , Arial Narrow , sans-serif;
}

.a{text-decoration: none;
color:black;}

.contenedor{border-style: solid, 5px, black;}

.pie{
 width: 100%; 
}



