* {
  box-sizing: border-box;
}

@font-face{font-family:TipografiaPrincipal;
src:url(Copperplate-Gothic-Bold-Regular.ttf)}
  
@font-face{font-family:TipografiaSecundaria;
  src:url(NotoSans-Regular.ttf)}
  
  
@font-face{font-family:TipografiaSecundariaBoldItalic;
   src:url(NotoSans-BoldItalic.ttf)}

  /* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: #39438C;
}

/* mouse over link */
a:hover {
  color: #EEB34A;
}

/* selected link */
a:active {
  color: #E2DBCD;
}

.nav-link{
  font-family: "TipografiaPrincipal";

}
.dropdown-item{
  font-family: "TipografiaPrincipal";
}
h1{
  font-family: "TipografiaPrincipal";
}
  .text{
    font-family: "TipografiaSecundaria"
  }

  .card-title{
    font-family: "TipografiaPrincipal"
  }
  .personajes{
    font-family: "TipografiaSecundaria"

  }

  .escenas{
    font-family: "TipografiaSecundaria"

  }
  .recetas{
    font-family: "TipografiaSecundaria"

  }
footer {
  display: block;
  text-align: center;
  background-color:#5a2217; 
  font-family: "TipografiaPrincipal"
}